{% extends 'main.html' %}
{% load static %}

{% block tit %}FullstackGeo{% endblock %}

{% block title %}
    Востребованность по городам (География)
{% endblock %}

{% block a %}
    {% url 'skills' %}
{% endblock %}

{% block aName %}
    Навыки
{% endblock %}

{% block main %}
    <div style = 'margin-top: 25px;margin-left: 100px '>
    <label for="sectionSelect" style="font-size: 20px; margin-top: 20px; ">Выберите секцию:</label>
    <select id="sectionSelect" onChange="showSection()">
        <option value="section1">Динамика зарплат по городам</option>
        <option value="section2">Динамика доли вакансий по городам</option>
        <option value="section3">Динамика зарплат по городам для Fullstack</option>
        <option value="section4">Динамика доли вакансий по городам для Fullstack</option>
        <option value="all" selected>Все</option>
    </select>
    </div>

    <section id = "section1" class = 'section-geo' style="margin-bottom: 50px">
    <div style="margin-left: 200px;">
        <h2 class="h2Din" style="margin-top:0; padding-top: 0; font-size: 28px ">Динамика зарплат по городам</h2>
        <p  class="text"  style = ' width: 800px'>Статистика по городам учитывая только те города, у которых доля вакансий более 1%. Суммарная доля вакансий из таких городов составляет 66 процентов от всех вакансий.</p>

            <img  class = 'imgg' src="{% static 'img/Salary_city.png' %}" width="800px" height="600px" alt="" >
        </div>
     <div style="display: flex; justify-content: center; margin-top: 25px;margin-left: 150px;">
         <h3 class = 'h2Din' style="text-align: center">Табличный вид: </h3>
         <table>
            <tr><td>Город</td><td>Зарплата</td></tr>
            {% for i in items_salar %}
            <tr><td><b>{{ i.city }}</b></td><td>{{ i.salary }}</td></tr>
             {% endfor %}
        </table>
        </div>
    </section>

  <section id = "section2" class = 'section-geo' style="margin-bottom: 50px" >
    <div style="margin-left: 200px;">
        <h2 class="h2Din" style="margin-top:0; padding-top: 0; font-size: 28px"> Динамика доли вакансий по городам </h2>
        <p  id="ptext" class="text"  style = ' width: 800px'>Статистика по городам учитывая только те города, у которых доля вакансий более 1%. Суммарная доля вакансий из таких городов составляет 66 процентов от всех вакансий.</p>
            <img  class = 'imgg' src="{% static 'img/Count_city.png' %}" width="800px" height="600px" alt="" >
        </div>
     <div style="display: flex; justify-content: center; margin-top: 25px;margin-left: 150px;">
         <h3 class = 'h2Din' style="text-align: center">Табличный вид: </h3>
         <table>
            <tr><td>Город</td><td>Доля вак</td></tr>
            {% for i in items_count %}
            <tr><td><b>{{ i.city }}</b></td><td>{{ i.count }}</td></tr>
             {% endfor %}
        </table>
        </div>
    </section>

    <section id = "section3" class = 'section-geo' style="margin-bottom: 50px" >
    <div style="margin-left: 200px;">
        <h2 class="h2Din" style="margin-top:0; padding-top: 0; font-size: 28px"> Динамика зарплат по городам для Fullstack </h2>
        <p  id="ptext" class="text"  style = ' width: 800px'>Статистика по городам учитывая только те города, у которых доля вакансий более 1%. Суммарная доля вакансий из таких городов составляет 66 процентов от всех вакансий.</p>
            <img   class = 'imgg' src="{% static 'img/Salary_city_vac.png' %}" width="800px" height="600px" alt="" >
        </div>
     <div style="display: flex; justify-content: center; margin-top: 25px;margin-left: 150px;">
         <h3 class = 'h2Din' style="text-align: center">Табличный вид: </h3>
         <table>
            <tr><td>Город</td><td>Зарплата</td></tr>
            {% for i in items_salary_vac %}
            <tr><td><b>{{ i.city }}</b></td><td>{{ i.salary_vac }}</td></tr>
             {% endfor %}
        </table>
        </div>
    </section>

     <section id = "section4" class = 'section-geo' >
    <div style="margin-left: 200px;">
        <h2 class="h2Din" style="margin-top:0; padding-top: 0; font-size: 28px"> Динамика доли вакансий по городам для Fullstack </h2>
        <p  id="ptext" class="text"  style = ' width: 800px'>Статистика по городам учитывая только те города, у которых доля вакансий более 1%. Суммарная доля вакансий из таких городов составляет 66 процентов от всех вакансий.</p>
            <img  class = 'imgg' src="{% static 'img/Count_city_vac.png' %}" width="800px" height="600px" alt="" >
        </div>
     <div style="display: flex; justify-content: center; margin-top: 25px;margin-left: 150px;">
         <h3 class = 'h2Din' style="text-align: center">Табличный вид: </h3>
         <table>
            <tr><td>Город</td><td>Доля вак</td></tr>
            {% for i in items_count_vac %}
            <tr><td><b>{{ i.city }}</b></td><td>{{ i.count_vac }}</td></tr>
             {% endfor %}
        </table>
        </div>
    </section>



{% endblock %}

{% block script %}
    <script> function showSection() {
      let selectedSection = document.getElementById("sectionSelect").value;
      console.log(selectedSection)
      let sections = document.getElementsByTagName("section");
      for (let i = 0; i < sections.length; i++) {
        sections[i].style.display = "none";
      }

     let elements = document.querySelectorAll("#ptext");
        for (let i = 0; i < elements.length; i++) {
           elements[i].style.display = "block";
        }

     if (selectedSection === 'all'){
        for (let i = 0; i < sections.length; i++) {
           sections[i].style.display = "flex";
        }
        let elements = document.querySelectorAll("#ptext");
        for (let i = 0; i < elements.length; i++) {
           elements[i].style.display = "none";
        }
     }
        document.getElementById(selectedSection).style.display = "flex";

    }
    </script>
{% endblock %}



