{% extends 'main.html' %}
{% load static %}
{% block title %}
    Последние вакансии по профессии Full stack
{% endblock %}
{% block tit %}Full_stackNew_Vac{% endblock %}
{% block main %}
<div class="container" style=" flex-direction: column;">
  {% for vc in vac %}
      <div class="card" style="flex: 1;">
{#      href="{{ vc.url }}"  target='_blank'#}
          <a  class="toggle-card" data-card-id="{{ vc.id }}"><h3>{{ vc.name }}</h3></a>

       <div class="card-content" style="display: none;">
            {%  if vc.salary.from and vc.salary.to %}
              <p>Зарплата: {{ vc.salary.from }} - {{ vc.salary.to }} ({{ vc.salary.currency }})</p>

            {% elif vc.salary.from %}

              <p>Зарплата: от {{ vc.salary.from }} ({{ vc.salary.currency }})</p>

            {% elif vc.salary.to %}

              <p>Зарплата: до {{ vc.salary.to }} ({{ vc.salary.currency }})</p>

            {% else %}

               <p>Зарплата отсутствует</p>

            {% endif %}

              <p>Компания: {{ vc.employer_name }}</p>
            <p>Город: {{ vc.area_name }}</p>
        <p class="description" style="line-height: 160%;">Описание: </p>
        	<p class="skills">Навыки: </p>

           <a href="{{ vc.url }}" target="_blank"  class="url"><p style="line-height: 160%;">Читать подробнее...</p></a>

        <p style="text-align: right"> Дата публикации: {{ vc.published_at }}</p>
        </div>
      </div>
  {% empty %}
  <h2 class='h2Text'>{{ err }}</h2>
  {% endfor %}
</div>

{% endblock %}

{% block aName %}
    На главую
{% endblock %}
{% block a %}
    {% url 'home' %}
{% endblock %}
{% block script %}
    <script src = '{% static "js/GetRequestHH.js" %}'></script>
{% endblock %}
{% block dopA %}
<p class='last'><a href="{% url 'skills' %}"><span style="display: inline-block; transform: scaleX(-1);">&#10148;</span> Навыки</a></p>
{% endblock %}

