{% extends 'main.html' %}

{% block title %}
   Навыки
{% endblock %}

{% block a %}
    {% url 'new_vac' %}
{% endblock %}

{% block aName %}
    Новые вакансии
{% endblock %}

{% block main %}
    <h1>Для всех</h1>
    {% for i in items %}
         <h3>{{ i.year }}</h3>
            {% for j in i.skills %}
                <p>{{ j.name  }} {{ j.count }}</p>
                {% empty %}
                <p>Empty</p>
                {% endfor %}
    {% endfor %}
    <h1>Для моей</h1>
    {% for i in items_vac %}
         <h3>{{ i.year }}</h3>
            {% for j in i.skills %}
                <p>{{ j.name  }} {{ j.count }}</p>
                {% empty %}
                <p>Empty</p>
                {% endfor %}
    {% endfor %}

{% endblock %}


