{% extends 'main.html' %}
{% load static %}
{% block title %}
    Востребованность по годам
{% endblock %}
{% block tit %}FullstackVostreb{% endblock %}
{% block a %}
    {% url 'geo' %}
{% endblock %}

{% block aName %}
    География
{% endblock %}

{% block main %}
    <label for="sectionSelect" style="font-size: 20px; margin-top: 20px; margin-left: 100px">Выберите секцию:</label>
    <select id="sectionSelect" onChange="showSection()">
        <option value="section1">Динамика зарплат по всем вакансиям</option>
        <option value="section2">Динамика количества вакансий</option>
        <option value="section3">Динамика зарплат для Fullstack</option>
        <option value="section4">Динамика количества вакансий для Fullstack</option>
        <option value="all" selected>Все</option>
    </select>



    <section id = 'section1'>
        <h2 class = 'h2Din'>Динамика зарплат по годам по всем вакансиям</h2>
        <div style="display: flex; justify-content: center">
            <img class = 'imgg' src="{% static 'img/Salar_year1.png' %}" width="640px" height="480px" alt="">
        </div>
        <h3 class = 'h2Din'>Табличный вид</h3>
        <div style="display: flex; justify-content: center; margin-top: 25px;margin-left: 25px;">
            <table >
                <tr>
                    <td>Года</td>
                    {% for i in items %}<td>{{ i.year }}</td>
                    {% endfor %}
                </tr>
                <tr><td>Зарплаты</td>
                    {% for i in items %}<td>{{ i.salary_avg }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </section>



     <section id = 'section2' >
    <h2 class = 'h2Din'>Динамика количества вакансий</h2>
    <div style="display: flex; justify-content: center">
        <img  class = 'imgg' src="{% static 'img/Count_year.png' %}" width="640px" height="480px" alt="">
    </div>
    <h3 class = 'h2Din'>Табличный вид</h3>
    <div style="display: flex; justify-content: center; margin-top: 25px;margin-left: 25px;">
        <table >
            <tr>
                <td>Года</td>
                 {% for i in items %}
                <td>{{ i.year }}</td>
                {% endfor %}
            </tr>
            <tr>
            <td>Кол-во вакансий</td>
                {% for i in items %}
                <td>{{ i.count }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    </section>

 <section id = 'section3'>
    <h2 class = 'h2Din'>Динамика зарплат для Full stack разработчика</h2>
    <div style="display: flex; justify-content: center">
        <img  class = 'imgg' src="{% static 'img/Salary_vac_year1.png' %}" width="640px" height="480px" alt="">
    </div>
    <h3 class = 'h2Din'>Табличный вид</h3>
    <div style="display: flex; justify-content: center; margin-top: 25px;margin-left: 25px;">
        <table >
            <tr>
                <td>Года</td>
                 {% for i in items %}
                <td>{{ i.year }}</td>
                {% endfor %}
            </tr>
            <tr>
            <td>Зарплаты</td>
                {% for i in items %}
                    {% if i.count_vac == 0 %}
                    <td>-</td>
                    {% else %}
                <td>{{ i.salary_avg_for_vac }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    </section>

    <section id = 'section4' >
    <h2 class = 'h2Din'>Динамика вакансий для Full stack разработчика</h2>
    <div style="display: flex; justify-content: center">
        <img  class = 'imgg' src="{% static 'img/Count_vac_year.png' %}" width="640px" height="480px" alt="">
    </div>
    <h3 class = 'h2Din'>Табличный вид</h3>
    <div style="display: flex; justify-content: center; margin-top: 25px;margin-left: 25px;">
        <table >
            <tr>
                <td>Года</td>
                 {% for i in items %}
                <td>{{ i.year }}</td>
                {% endfor %}
            </tr>
            <tr>
            <td>Кол-во вакансий</td>
                {% for i in items %}
                    {% if i.count_vac == 0 %}
                        <td>-</td>
                        {% else %}
                        <td>{{ i.count_vac }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    </section>
    {% endblock %}

{% block script %}
    <script src="{% static 'js/script2.js'%}"></script>
{% endblock %}